<!DOCTYPE html>
<html lang="en">
<head>
    <title>SkillCraft</title>
    <meta charset="utf-8">
    <meta name="author" content="Ky-Anh Nguyen, Scott Garcia, Vinh Ngo">
    <meta name="description" content="AI integration that generates project ideas for skill application and teaches with instructions for the project">
    <meta name="keyword" content="AI integration, Project, Ideas, Learning, Education, Skill Application">
    <meta name="copyright" content="Copyright © 2023 Ky-Anh Nguyen">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="loading-container">
        <div>
            <img src="../static/images/Blue Gear.png" class="logo-spin">
            <img src="../static/images/Green Leaf.png" >
        </div>
        <p>L o a d i n g . . .</p>
    </div>

    <div class="website-container">
        <div class="main-body" id="main-body">
            <div id="project-search" class="box">
                <div id="box-gen-title">
                    <h1>Project Generator</h1>
                </div>
        
                <div>
                    <h2 id="subject1">Choose a Topic</h2>
                    <h2 id="subject2">Pick Project Difficulty</h2>
                    <h2 id="subject3">Choose a Project</h2>
                </div>
                <div class="barrier">
                    <form id="form-container">
                        <div class="searchbar">
                            <input type="text" class="input-box" id="InputField" placeholder="Search a Project Idea">
                            <input type="submit" name="search_button" value="Generate" id="search-button">
                        </div>
                        <div id="dropdown">
                            <!-- skill-drowndown content goes here -->
                        </div>    
                    </form>
                </div>
            </div>

            <div id="project-inventory" class="box">
                <div id="box-gen-title">
                    <h1>Project Gallery</h1>
                </div>
                <div class="div-line"></div>
                <div id="project-slots">
                    <!-- project ideas goes here -->
                </div>
            </div>

            <div id="walkthrough" class="box">
                <div class="justify-right">
                    <div id="project-topic">Project Topic</div>
                    <div id="project-level">Skill Level</div>
                </div>
                <div id="project-type">Project: IDEA</div> <!--text will need to dynamically change-->
                <div class="div-line"></div>
                <div id="expanding-steps">
                <!-- WALKTRHOUGH CONTENT GOES HERE -->
                </div>
                <div class="div-line"></div>
            </div>

            <div id="empty-box" class="box"></div>
        </div>
    
        <nav class="top-nav" id="top-nav">
            <img src="../static/images/SkillCraft Logo Blue-Green.png" id="logo-top">
            <ul>
                <li><a href="">PROFILE</a></li>
                <li><a href="">STUFF</a></li>
            </ul>
        </nav>    
        
        <nav class="left-nav" id="left-nav">
            <ul>
                <li id="navlogo">
                    <img src="../static/images/SkillCraft Logo Blue-Green.png" id="logo-left">
                    <h1>SkillCraft</h1>
                </li>
                <li><a href="/">REFRESH PAGE</a></li>
                <li><a href="instruction.html">INSTRUCTION PAGE</a></li>
                <li><a href="">________________</a></li>
                <li><a href="">Projects</a></li>
                
            </ul>
        </nav>

    </div>
   
    

    <script src="../static/js/script.js"></script>
</body>
</html>
