<!DOCTYPE html>
<html lang="en">
<head>
    <title>SkillCraft</title>
    <meta charset="utf-8">
    <meta name="author" content="Ky-Anh Nguyen, Scott Garcia, Vinh Ngo">
    <meta name="description" content="AI integration that generates project ideas for skill application and teaches with instructions for the project">
    <meta name="keyword" content="AI integration, Project, Ideas, Learning, Education, Skill Application">
    <meta name="copyright" content="Copyright © 2023 Ky-Anh Nguyen">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="adjust-body">
        <div id="page-title">
            <h1>Skill <span>C</span>raft</h1>
        </div>

        <div>
            <h2 id="subject1">What Skill Or Project Would You Like To Pursue?</h2>
            <h2 id="subject2">Choose Your Current Skill Level</h2>
            <h2 id="subject3">Choose Any Project To Pursue</h2>
        </div>

        <div>
            <form id="myForm">
                <div class="input-container">
                    <div>
                        <div>
                            <input type="text" class="input-box" id="InputField" placeholder="Search a Project Idea">
                        </div>
                        <div id="dropdown">
                            <!-- skill-drowndown content goes here -->
                        </div>
                        <div id="idea-dropdown">
                            <!-- idea-drowndown content goes here -->
                        </div>
                    </div>
                    
                    <div><input type="submit" value="Generate" class="submit-button"></div>
                </div>
                
            </form>
        </div>
    </div>

    <nav class="top-nav">
        <ul>
            <li><a href="">PROFILE</a></li>
            <li><a href="">STUFF</a></li>
        </ul>
    </nav>    
    
    <nav class="left-nav">
        <ul>
            <li id="navlogo">
                <div><img src="../static/images/SkillCraft Logo Red-Yellow.png"></div>
                <div><h1>SkillCraft</h1></div>
            </li>
            <li><a href="/">REFRESH PAGE</a></li>
            <li><a href="instruction.html">INSTRUCTION PAGE</a></li>
            <li><a href="">________________</a></li>
            <li><a href="">Projects</a></li>
            
        </ul>
    </nav>
    

    <script src="../static/script.js"></script>
</body>
</html>
