<!DOCTYPE html>
<html lang="en">
<head>
    <title>SkillCraft</title>
    <meta charset="utf-8">
    <meta name="author" content="Ky-Anh Nguyen, Scott Garcia, Vinh Ngo">
    <meta name="description" content="AI integration that generates project ideas for skill application and teaches with instructions for the project">
    <meta name="keyword" content="AI integration, Project, Ideas, Learning, Education, Skill Application">
    <meta name="copyright" content="Copyright © 2023 Ky-Anh Nguyen">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="loading-container">
        <div>
            <img src="../static/images/Blue Gear.png" class="logo-spin">
            <img src="../static/images/Green Leaf.png" >
        </div>
        <p>L o a d i n g . . .</p>
    </div>

    <div class="website-container">
        <div class="main-body">
            <div class="project-search-box">
                <div id="page-title">
                    <h1>Skill <span>C</span>raft</h1>
                </div>
        
                <div>
                    <h2 id="subject1">What Skill Or Project Would You Like To Pursue?</h2>
                    <h2 id="subject2">Choose Your Current Skill Level</h2>
                    <h2 id="subject3">Choose Any Project To Pursue</h2>
                </div>
                <div class="barrier">
                    <form class="input-container" id="myForm">
                        <div class="searchbar">
                            <input type="text" class="input-box" id="InputField" placeholder="Search a Project Idea">
                            <input type="submit" value="Generate" class="submit-button">
                        </div>
                        <div id="dropdown">
                            <!-- skill-drowndown content goes here -->
                        </div>    
                    </form>
                </div>
            </div>

            <div class="walkthrough-box">
                <div class="project-type">Project: STUFF</div> <!--text will need to dynamically change-->
                <div class="div-line"></div>
                <button class="step-button">STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP STEP 1 TEMP 

                </button> <!--text will need to dynamically change-->
                <button class="step-button">STEP 2 TEMP</button>
                <button class="step-button">STEP 3 TEMP</button>
                <!-- WALKTRHOUGH CONTENT GOES HERE -->
                <div class="div-line"></div>
            </div>

            <div class="empty-box"></div>
        </div>
    
        <nav class="top-nav">
            <ul>
                <li><a href="">PROFILE</a></li>
                <li><a href="">STUFF</a></li>
            </ul>
        </nav>    
        
        <nav class="left-nav">
            <ul>
                <li id="navlogo">
                    <div><img src="../static/images/SkillCraft Logo Blue-Green.png"></div>
                    <div><h1>SkillCraft</h1></div>
                </li>
                <li><a href="/">REFRESH PAGE</a></li>
                <li><a href="instruction.html">INSTRUCTION PAGE</a></li>
                <li><a href="">________________</a></li>
                <li><a href="">Projects</a></li>
                
            </ul>
        </nav>

    </div>
   
    

    <script src="../static/js/script.js"></script>
</body>
</html>
