/*MAIN BODY*/
body {
    margin: 0;
    background-color: #1A0126;
    color:white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*TOP NAVIGATION BAR*/
.top-nav {
    position:fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    color: white;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    
}
.top-nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    text-align: center;
}
.top-nav ul li{
    width:80px;
    height: 100%;
    border-style: solid;
    border-color: black;
    background-color:white;
}


.left-nav {
    position:fixed;
    top: 0;
    left: 0;
    background-color: green;
    height: 100%;
    color: white;
    padding: 20px;
}
.centered {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*PAGE TITLE*/
#page-title {
    font-size: 175%;
    font-weight: bolder;  
}
#page-title h1::first-letter {
    color:blue;
}
#page-title h1 span {
    color:blue;
}


/*SEARCHBAR SUBJECTS*/
#subject2 {
    display: none;    
}
#subject3 {
    display: none;    
}


/*SEARCH BAR*/
.input-container {
    display: flex;
    border-radius: 15px;
    background-color: #3a3d2d;
    border-color: white;
}


/*INPUT BOX*/
.input-box {
    border-style: none;
    background-color: #757d5a;
    color:white;
    width: 500px;
    border-radius:15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 125px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: bolder;
}
.input-box::placeholder {
    color:white;
}

/*SUBMIT BUTTON*/
.submit-button {
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 2.5px;
    margin-left: -120px;
    font-size: 16px;
    font-weight: bolder;
}
.submit-button:hover {
    cursor: pointer;
}


/*DROPDOWNS*/
#dropdown {
    display: none;
    background-color: #3a3d2d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#idea-dropdown {
    display: none;
}
.result-item {
    font-weight: bolder;
    text-indent: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left; /* Left-align the items */
    width: 100%; /* Set the width of the items to match the search bar */
}
.result-item:is(:last-child) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.result-item:hover {
    background-color: #f0f0f0;
}
