/***** WEB_STRUCTURE *****/
body {
    margin: 0;
    padding: 0;
}






/*~~~~~~~~~~~~~~~~~~~~~~~~~ LOADING PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~*/

/***** LOADINGPAGE_SETTING *****/
:root {
    --load-background: #121317;

    --load-logo: 200px;

    --load-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --load-font-color: white;
    --load-font-size: 300%;
}

/*LOADING PAGE*/
.loading-container {
    position: fixed;
        left: 0;
        top: 0;

    height: 100%;
    width: 100%;

    display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;

    background-color: var(--load-background);
}.loading-container div{
    height: var(--load-logo);
    width: var(--load-logo);
}.loading-container div img{
    position: absolute;

    height: var(--load-logo);
    width: var(--load-logo);
}.logo-spin {
    animation: spin 5s linear infinite;
}   @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
}.loading-container p {
    margin-left: 30px;
    margin-top: 30px;

    color: var(--load-font-color);
    font-family: var(--load-font);
    font-size: var(--load-font-size);
    font-weight: bold;
}






/*~~~~~~~~~~~~~~~~~~~~~~~~~ WEBSITE PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~*/

/***** WEBPAGE_SETTING *****/
:root {
    --web-background: #121317;
        --text-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /*NAVIGATION_SETTING*/
    --left-nav-width: 275px;
    --top-nav-height: 60px;
        --nav-background: var(--web-background);
        --nav-border: 1px solid rgb(50, 46, 63);

        --nav-logo-font-color: var(--body-font-color);
        --nav-font-color: rgb(187, 187, 187);
        --nav-font-size: large;

        --nav-button-color: none;
        --nav-button-border: 1px solid white;
        --nav-button-radius: 15px;

    /*BODY_SETTING*/
    --body-background: var(--web-background);
        --body-margin: 40px;
        --body-font-color: white;
        
        --box-background: rgb(32, 39, 41);
        --box-padding: 40px;
        --box-radius: 15px;
}

/*WEBSITE PAGE*/
.website-container {
    position: fixed;

    width: 100%;
    height: 100%;

    display: none;
    
    background-color: var(--web-background);;
}



/*_______________ TOP NAVIGATION BAR _______________*/
.top-nav {
    position: fixed;
        left: var(--left-nav-width);
        top: 0;    
    
    height: var(--top-nav-height);
    width: calc(100% - var(--left-nav-width));

    display: flex;
        justify-content: flex-end;

    background-color: var(--nav-background);
    border-bottom: var(--nav-border);

    color: var(--nav-font-color);
    font-family: var(--text-font);
}.top-nav ul {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
        align-items: center;
}.top-nav ul li{
    height: 70%;
    
    margin-right: calc(var(--top-nav-height) * .15);
    padding-inline: 10px;

    display: flex;
        flex-direction: column;
        
        justify-content: center;
        text-align: center;
    
    background-color: var(--nav-button-color);
    border: var(--nav-button-border);
    border-radius: var(--nav-button-radius);
}.top-nav a{
    text-decoration: none;
    
    color: var(--nav-font-color);
    font-size: var(--nav-font-size);
    font-weight: bold;
}



/*_______________ LEFT NAVIGATION BAR _______________*/
.left-nav {
    position:fixed;
        left: 0;
        top: 0;
    
    height: 100%;
    width: var(--left-nav-width);

    background-color: var(--nav-background);
    border-right: var(--nav-border);

    color: var(--nav-logo-font-color);
    font-family: var(--text-font);
}.left-nav ul {
    list-style: none;

    margin: 0;
    padding: 0;
}.left-nav ul li {
    margin-left: 50px;
    margin-top: 15px;
    
    text-align: left;

    font-size: var(--nav-font-size);
    font-weight: bold;

}#navlogo{
    margin: 0;
    
    display: flex;
        align-items: center;
        text-align: left;
}#navlogo img{
    height: var(--top-nav-height);

    margin: 10px;
}#navlogo h1{
    margin-left: 10px;
}.left-nav a{
    text-decoration: none;
    color: var(--nav-font-color);
}



/*_______________ MAIN BODY _______________*/
.main-body {
    position: fixed;
        left: var(--left-nav-width);
        top: var(--top-nav-height);

    height: calc(100% - var(--top-nav-height));
    width: calc(100% - var(--left-nav-width));
        overflow: scroll;

    padding-top: var(--body-margin);

    display: flex;
    flex-direction: column;
        align-items: center;
    
    background-color: var(--body-background);

    color: var(--body-font-color);
    font-family: var(--text-font);
}   .main-body::-webkit-scrollbar {
        height: 0;
        width: 0;
}

.box{
    background-color: var(--box-background);
    border-radius: var(--box-radius);
    padding: var(--box-padding);
}

/*----- project search box -----*/
#project-search{
    height: 100%;
    width: calc(100% - 2 * var(--body-margin) - 2 * var(--box-padding));
    
    display: flex;
        flex-direction: column;
    
        align-items: center;
        text-align: center;
}


/*PAGE TITLE*/
#page-title {
    font-size: 175%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}#page-title h1::first-letter {
    color:blue;
}#page-title h1 span {
    color:blue;
}


/*SEARCHBAR SUBJECTS*/
#subject2, #subject3 {
    display: none;      
}

.barrier {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    width: 100%;
    padding-inline: calc(var(--box-padding));
    padding-bottom: 3px;
    padding-top: 3px;
}

/*SEARCH BAR*/
.input-container {
    display: block;
    width: 600px;

    border-radius: 15px;
    background-color: #3a3d2d;
}   @media screen and (max-width: calc(600px * 1.75 )) {
        .input-container {
            width: 100%;
            min-width: 275px;
        }
}

.searchbar {
    position: relative;
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
}


/*INPUT BOX*/
.input-box {
    position: absolute;
    left: 0;
    padding-left: 15px;
    padding-right: 100px;
    border-style: none;
    background-color: #757d5a;
    color:white;
    width: calc(100% - 15px - 100px);
    height: 100%;
    border-radius:15px;
    font-size: 16px;
    font-weight: bolder;
}.input-box::placeholder {
    color:white;
}


/*SUBMIT BUTTON*/
.submit-button {
    position: absolute;
    right:0;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 16px;
    height: 90%;
    font-weight: bolder;
    
}.submit-button:hover {
    cursor: pointer;
}


/*DROPDOWNS*/
#dropdown {
    display: none;

}#idea-dropdown {
    display: none;
}.result-item {
    font-weight: bolder;
    text-indent: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    width: 100%;
}.result-item:is(:last-child) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}.result-item:hover {
    background-color: #f0f0f0;
}


/*----- walkthrough box -----*/
#walkthrough {

    overflow-wrap: break-word;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2 * var(--body-margin) - 2 * var(--box-padding));
    margin-top: var(--box-padding)
}

#project-type {
    font-size: 200%;
    font-weight: bolder;
}


.div-line {
    display: block;
    background-color: white;
    height: 2px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.step-button {
    background-color: #55b458;
    border: none;
    color: rgb(200, 200, 200);
    padding: 2% 50px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    width: 50%;
    cursor: pointer;
}

.step-button:hover {
    background-color: #59c25c;
    color: white;
}


/*----- empty box -----*/
.empty-box {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: calc(100% - 2 * var(--body-margin) - 2 * var(--box-padding));
    height: 100px;
    border-radius:15px;
    padding: var(--box-padding);
    margin-top: var(--box-padding)
}