/***** WEB_STRUCTURE *****/
body {
    margin: 0;
    padding: 0;
}


/*[CSS STRUCTURING
    
    POSITION,
        POSITIONING
    SIZE,
        OVERFLOW
    PADDING/MARGIN, 
    DISPLAY,
        DISPLAY DIRECTION
        DISPLAY ORIENTATION
    BLOCK STYLE,
        COLOR
        BORDER
        RADIUS
    TEXT STYLE
        SIZE
        COLOR
]*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~ LOADING PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~*/

/***** LOADINGPAGE_SETTING *****/
:root {
    --load-background: #121317;

    --load-logo: 200px;

    --load-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --load-font-color: white;
    --load-font-size: 300%;
}

/*LOADING PAGE*/
.loading-container {
    position: fixed;
        left: 0;
        top: 0;

    height: 100%;
    width: 100%;

    display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;

    background-color: var(--load-background);
}.loading-container div{
    height: var(--load-logo);
    width: var(--load-logo);
}.loading-container div img{
    position: absolute;

    height: var(--load-logo);
    width: var(--load-logo);
}.logo-spin {
    animation: spin 5s linear infinite;
}   @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
}.loading-container p {
    margin-left: 30px;
    margin-top: 30px;

    color: var(--load-font-color);
    font-family: var(--load-font);
    font-size: var(--load-font-size);
    font-weight: bold;
}






/*~~~~~~~~~~~~~~~~~~~~~~~~~ WEBSITE PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~*/

/***** WEBPAGE_SETTING *****/
:root {
    --web-background: #121317;
        --text-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /*NAVIGATION_SETTING*/
    --left-nav-width: 275px;
    --top-nav-height: 60px;
        --nav-background: var(--web-background);
        --nav-border: 1px solid rgb(50, 46, 63);

        --nav-logo-font-color: var(--body-font-color);
        --nav-font-color: rgb(187, 187, 187);
        --nav-font-size: large;

        --nav-button-color: none;
        --nav-button-border: 1px solid white;
        --nav-button-radius: 15px;

    /*BODY_SETTING*/
    --body-background: var(--web-background);
        --body-margin: 40px;
        --body-font-color: rgb(255, 255, 255);
        
        /*box_SETTING*/
            --box-background: rgb(32, 39, 41); 
            --box-padding: 40px;
            --box-radius: 15px;

        /*project-search_SETTING*/
            --searchbar-height: 40px;
            --searchbar-width: 600px;
            --searchbar-radius: 15px;

            --searchbar-background:rgb(56, 53, 82);
            --search-text-default-font-color:rgb(201, 195, 195);
            --search-text-font-color: var(--body-font-color);

            --searchbutton-background:rgb(255, 255, 255);
            --searchbutton-text-font-color: rgb(163, 163, 163);

            --dropdown-background: rgb(38, 36, 56);
            --dropdown-hover-background:rgb(182, 182, 182);
            --dropdown-text-font-color: var(--body-font-color);

        /*walkthrough_SETTING*/
}

/*WEBSITE PAGE*/
.website-container {
    position: fixed;

    width: 100%;
    height: 100%;

    display: none;
    
    background-color: var(--web-background);;
}



/*_______________ TOP NAVIGATION BAR _______________*/
.top-nav {
    position: fixed;
        left: var(--left-nav-width);
        top: 0;    
    
    height: var(--top-nav-height);
    width: calc(100% - var(--left-nav-width));

    display: flex;
        justify-content: flex-end;

    background-color: var(--nav-background);
    border-bottom: var(--nav-border);

    color: var(--nav-font-color);
    font-family: var(--text-font);
}.top-nav img{
    display: none;
    position: absolute;
    left: 5px;
    top: 3px;
    height: calc(var(--top-nav-height) *.95);
}.top-nav ul {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
        align-items: center;
}.top-nav ul li{
    height: 70%;
    
    margin-right: calc(var(--top-nav-height) * .15);
    padding-inline: 10px;

    display: flex;
        flex-direction: column;
        
        justify-content: center;
        text-align: center;
    
    background-color: var(--nav-button-color);
    border: var(--nav-button-border);
    border-radius: var(--nav-button-radius);
}.top-nav a{
    text-decoration: none;
    
    color: var(--nav-font-color);
    font-size: var(--nav-font-size);
    font-weight: bold;
}



/*_______________ LEFT NAVIGATION BAR _______________*/
.left-nav {
    position:fixed;
        left: 0;
        top: 0;
    
    height: 100%;
    width: var(--left-nav-width);

    background-color: var(--nav-background);
    border-right: var(--nav-border);

    color: var(--nav-logo-font-color);
    font-family: var(--text-font);
}.left-nav ul {
    list-style: none;

    margin: 0;
    padding: 0;
}.left-nav ul li {
    margin-left: 50px;
    margin-top: 15px;
    
    text-align: left;

    font-size: var(--nav-font-size);
    font-weight: bold;

}#navlogo{
    margin: 0;
    
    display: flex;
        align-items: center;
        text-align: left;
}#navlogo img{
    height: var(--top-nav-height);

    margin: 10px;
}#navlogo h1{
    margin-left: 10px;
}.left-nav a{
    text-decoration: none;
    color: var(--nav-font-color);
}



/*_______________ MAIN BODY _______________*/
.main-body {
    position: fixed;
        left: var(--left-nav-width);
        top: var(--top-nav-height);

    height: calc(100% - var(--top-nav-height));
    width: calc(100% - var(--left-nav-width));
        overflow: scroll;

    

    display: flex;
    flex-direction: column;
        align-items: center;
    
    background-color: var(--body-background);

    color: var(--body-font-color);
    font-family: var(--text-font);
}   .main-body::-webkit-scrollbar { /*Scrollbar Style: Invisible*/
        height: 0;
        width: 0;
}

/*----- box_traits -----*/
.box{
    width: calc(100% - 2 * var(--body-margin) - 2 * var(--box-padding));
    
    margin-top: var(--body-margin);
    padding: var(--box-padding);

    background-color: var(--box-background);
    border-radius: var(--box-radius);
}


/*----- project search box -----*/
#project-search{
    display: flex;
        flex-direction: column;
    
        align-items: center;
        text-align: center;
}

/*PAGE TITLE*/
#page-title {
    font-size: 175%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}#page-title h1::first-letter {
    color:blue;
}#page-title h1 span {
    color:blue;
}


/*SEARCHBAR SUBJECTS*/
#subject2, #subject3 {
    display: none;      
}


.barrier { /*KEEP CONTENTS FROM OVERFLOWING CONTAINER*/
    width: 100%;
        overflow: hidden;
    
    padding-bottom: 3px;
    padding-inline: calc(var(--box-padding));
    padding-top: 3px;
    
    display: flex;
        flex-direction: column;

        align-items: center;
}

/*SEARCH-BAR & DROPDOWN CONTAINER*/
#form-container {
    width: var(--searchbar-width);
    
    display: block;
    
    background-color: var(--dropdown-background);
    border-radius: var(--searchbar-radius);
}   @media screen and (max-width: calc(600px + 80px + 80px + 275px)) { /*(search-bar-width) + (body-margin * 2) + (box-padding * 2) + (left-nav-width)*/
        #form-container {
            width: 100%;
            min-width: 275px;
        }
}

.searchbar {
    position: relative;
    
    height: var(--searchbar-height);
    width: 100%;
    
    display: flex;
        align-items: center;
}
/*INPUT BOX*/
.input-box {
    position: absolute;
        left: 0;

    width: calc(100% - 15px - 100px);
    height: 100%;

    padding-left: 15px;
    padding-right: 100px;

    background-color: var(--searchbar-background);
        border-radius:15px;
        border-style: none;

    color: var(--search-text-font-color);
        font-size: 16px;
        font-weight: bolder;
}.input-box::placeholder {
    color: var(--search-text-default-font-color);
}
/*SUBMIT BUTTON*/
#search-button {
    position: absolute;
        right:0;

    height: 90%;

    margin-right: 5px;

    background-color: var(--searchbutton-background);
    border-radius: 15px;

    color: var(--searchbutton-text-font-color);
        font-size: 16px;
        font-weight: bolder;
}#search-button:hover {
    cursor: pointer;
}

/*DROPDOWNS*/
#dropdown {
    display: none;
}.result-container {
    margin: 0;
    padding: 0;
    padding-left: 30px;

    list-style-type: "◆";
    
    cursor: pointer;
    transition: background-color 0.3s;
}.result-item {
    width: calc(100% - 20px);

    margin: 0;
    padding: 15px;
    padding-left: 5px;

    text-align: left;

    color: var(--dropdown-text-font-color);
    font-weight: bolder;
}.result-container:is(:last-child) {
    border-bottom-left-radius: var(--searchbar-radius);
    border-bottom-right-radius: var(--searchbar-radius);
}.result-container:hover {
    background-color: var(--dropdown-hover-background);
}


:root {
    --step--background:green;
}

/*----- walkthrough box -----*/
#walkthrough {
    overflow-wrap: break-word;
    
    display: flex;
        flex-direction: column;
}

#project-type {
    font-size: 200%;
    font-weight: bolder;
    margin-bottom: 10px;
}


.div-line {
    height: 2px;
    width: 100%;



    display: block;

    background-color: white;
}


/*EXPANDING-STEPS*/
#expanding-steps {
    display: none;
}
.steps {
    display: flex;
        flex-direction: column;
        align-items: center;
}.step-container {
    width: calc(100% - 20px);
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    border: 3px solid black;
    

    background-color: rgb(0, 0, 0);
    list-style-type: none;
    
    cursor: pointer;
    transition: background-color 0.3s;
}.step-container:is(:first-child) {
    margin-top: 10px;
}.step-item {
    width: calc(100% - 10px);

    margin: 0;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: rgb(35, 46, 35);

    text-align: left;

    color: rgb(255, 255, 255);
    font-weight: bolder;
}.step-expandable {
    display: flex;
}.step-expanded .step-expandable {
    display: block;
}.step-item:hover {
    background-color: var(--dropdown-hover-background);
}


/*----- empty box for scrollable page -----*/
#empty-box {
    padding-bottom: 0;
    padding-top: 0;
}