<!DOCTYPE html>
<html>
<head>
    <title>SkillCraft</title>
    <meta charset="utf-8">
    <meta name="author" content="Ky-Anh Nguyen, Scott Garcia, Vinh Ngo">
    <meta name="description" content="AI integration that generates project ideas for skill application and teaches with instructions for the project">
    <meta name="keyword" content="AI integration, Project, Ideas, Learning, Education, Skill Application">
    <meta name="copyright" content="Copyright © 2023 Ky-Anh Nguyen">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div><a href="instruction.html">INSTRUCTION PAGE</a></div>
    <div class="centered">
    <div id="page-title">
        <h1>Skill <span>C</span>raft</h1>
    </div>

    <div>
        <h2>What Project Would You Like To Pursue?</h2>
    </div>

    <div>
        <form id="myForm">
            <div class="input-container">
                <div>
                    <div>
                        <input type="text" class="input-box" id="InputField" placeholder="Search a Project Idea">
                    </div>
                    <div id="dropdown">
                        <!-- skill-drowndown content goes here -->
                    </div>
                    <div id="idea-dropdown">
                        <!-- idea-drowndown content goes here -->
                    </div>
                </div>
                
                <div><input type="submit" value="Submit" class="submit-button"></div>
            </div>
            
        </form>
    </div>
    </div>
    

    <script src="../static/script.js"></script>
</body>
</html>
