<!DOCTYPE html>
<html>
    <head>
        <title>SkillCraft</title>
        <meta charset="utf-8">
        <meta name="author" content="Ky-Anh Nguyen, Scott Garcia, Vinh Ngo">
        <meta name="description" content="AI integration that generate project ideas for skill application and teaches with instruction for the project">
        <meta name="keyword" content="AI integration, Project, Ideas, Learning, Education, Skill Application">
        <meta name="copyright" content="Copyright © 2023 Ky-Anh Nguyen">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="../static/script.js"></script>
    </head>
    <body>
        <div><a href="index.html">HOME PAGE</a></div>
        <div id="page-title">
            <h1>Project <span>G</span>uide</h1>
        </div>
        <div>
            <h2>What Project Would You Like To Pursue?</h2>
        </div>
        <div>
            <form id="myForm">
                <input type="text" class="input-box" id="InputField" placeholder="Search a Project Idea">
                <input type="submit" value="Submit" class="submit-button">
            </form>
        </div>
        <div id="skill-dropdown"></div>
        <div id="ideas-dropdown"></div>
    </body>
</html>
